<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{patternName}}</title>


    <!-- PATTERN CSS FILES -->
    {{cssFiles}}
    <!-- end PATTERN CSS FILES -->

    <!-- build:css styles/styles.css -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- endbuild -->

  </head>
  <body>

    {{content}}


    <!-- PATTERN JS FILES -->
    {{jsFiles}}
    <!-- end PATTERN JS FILES -->

  </body>
</html>
